@page "/search"

<label>Search</label>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-9">
            <input type="text" />
        </div>
        <div class="col-3">
            <button @onclick="SearchFood">Submit</button>
        </div>
    </div>
</div>
*
*@if (foods is not null)
{
    foreach (var item in foods)
    {
        <h4>@item.Food_Name (@item.Food_Id)</h4>
        <br />
    }
} else{
    <h4>Something went very wrong</h4>
}