@page "/"

<div class="container-fluid">
    <div class="col">
        <div class="row-12">
            <div class="text-center">    
                <img src="logo-no-background.png" class="img-fluid" style="max-width:25%; max-height:25%;"/>
            </div>
            <div class="text-center" style="padding-top: 50px">
                <h1 class="display-1">Hii Health, It's Important!</h1>
            </div>
            <div class="row-12" style="padding-top: 50px">
                <h1 class="display-2">
                    <small class="text-muted">About</small>
                </h1>
                <p></p>
            </div>
        </div>
    </div>
</div>