@page "/"

@using health_index_app.Client.Services;
@*@inject ToastService ToastService

<button @onclick=TestButton>Test</button>*@

<div class="container-fluid">
    <div class="col">
        <div class="row-12">
            <div class="text-center">    
                <img src="logo-no-background.png" class="img-fluid" style="max-width:25%; max-height:25%;"/>
            </div>
            <div class="text-center" style="padding-top: 50px">
                <h1 class="display-1" style="font-family: system-ui">Hii! Health. It's Important!</h1>
            </div>
            <br />
            <div class="row-12" style="padding-top: 50px">
                <h1 class="display-2" style="font-family: system-ui">
                    <small class="text-muted">About</small>
                </h1>
                <p>Welcome to our nutrition app "Health. It’s Important", or Hii! It’s the perfect tool to help 
                    you achieve your health and fitness goals! We understand that making healthy choices can 
                    be challenging in today's busy world, but we believe that with the right tools and knowledge, 
                    anyone can make positive changes to their diet and lifestyle. That's why we've created an 
                    easy-to-use app that puts the power of nutrition education at your fingertips.</p>
                <p>Our app is designed to provide you with a personalized nutritional analysis based on your 
                    individual needs and preferences. Whether you're looking to lose weight, build muscle, 
                    or simply maintain a healthy lifestyle, Hii is the app for you. Our app also features a food diary, 
                    where you can log your meals and track your daily intake of nutrients such as carbohydrates, protein, 
                    and fats. In addition, our app includes a database of thousands of foods, including their nutritional values, 
                    which allows you to easily track your intake and make informed decisions about what to eat.</p>
                <p>We believe that a healthy diet is about more than just counting calories or following 
                    strict rules. It's about finding balance, nourishing your body with wholesome, nutrient-dense 
                    foods, and enjoying food in a way that supports your overall health and wellbeing. 
                    Our app is here to help you achieve that balance and make healthy eating a sustainable part 
                    of your lifestyle.</p>
                <p>We look forward to helping you achieve your goals and supporting you on your journey towards a 
                    healthier, happier life.</p>
            </div>
            <div class="row-12" style="padding-top: 50px">
                <h1 class="display-2" style="font-family: system-ui">
                    <small class="text-muted">FatSecret Platform API</small>
                </h1>
                <p>Our app utilizes the #1 food and nutrition database in the world, the FatSecret platform API. 
                    There are numerous benefits for using this API. Here are just a few of the key advantages:</p>
                <ul> 
                    <li><b>Extensive Nutrition Data:</b> The FatSecret API provides access to an extensive database of 
                    nutrition information, including calorie counts, macronutrient breakdowns, and ingredient 
                    lists for hundreds of thousands of foods. This provides users with accurate and up-to-date 
                    nutritional information, helping them make informed decisions about their diet.</li>
                    <li><b>Customizable Search and Recommendation Algorithms:</b> The FatSecret API provides powerful
                    search and recommendation algorithms that can be customized to fit the needs of the app. This allows users to personalize food recommendations based on their dietary 
                    needs and preferences.</li>
                    <li><b>Flexible and Scalable:</b> The FatSecret API is flexible and scalable, which makes it easy 
                    to add nutrition tracking and analysis functionality to the app, and to upscale as our
                    user base grows.</li>
                </ul>
                <p>Overall, the FatSecret API provides a powerful and flexible tool for us to build this nutrition 
                    app in order to help our users achieve their health and wellness goals. With this API, users can 
                    access our extensive database of food and nutrition information, including calorie counts and 
                    macronutrient breakdowns. Users can also leverage our powerful search 
                    and recommendation algorithms to help find the best foods to fit their dietary needs and preferences. 
                    The FatSecret API is flexible and customizable, which allows us to integrate it seamlessly 
                    into our own application.</p>
                <p>With the FatSecret API, we hope to empower our users to make informed decisions about their 
                    diet and nutrition, and help them achieve their health and wellness goals.</p>
            </div>
        </div>
    </div>
</div>

@*@code{
    //public  toastService ToastService {get; set;} = new();

    public async void TestButton()
    {
        ToastService.ShowToast("Button Pressed", ToastLevel.Success, 3000);
    }
}*@