@page "/"

<PageTitle>Index</PageTitle>

@*<link href="health_index_app/Client/css/app.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Identity/css/site.css" />*@
<link rel="stylesheet" href=~/css/app.css />

<div>
    <div class="center-screen">
        <img src = "/logo-no-background.png" width="250" height="200"/>
    </div>
    <div class="center-screen">
        <h1>Hii! Health, It's Important!</h1>
    </div>
</div>