@page "/refresh"
@page "/refresh/{text}"
@inject NavigationManager NavigationManager

<h4>Page is refreshing please wait...</h4>

@code {
    [Parameter]
    public string Text { get; set; }

    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo(Text);
    }

}