@page "/Settings"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using health_index_app.Shared
@attribute [Authorize]

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>

<p role="status">Current count: </p>

<button class="btn btn-primary" >Click me</button>

@code {
    
}
