@page "/viewmeals"
@page "/viewmeals/{mealid:int}"

@using health_index_app.Shared.Models;

<h3>ViewMeals</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="list-group list-group-flush border-bottom scrollarea h-100">
                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight active" aria-current="true">L1</a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">L2</a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">L3</a>
            </div>
        </div>

        <div class="col-10">
            <div>
                @if (MealId == 0)
                {
                    <h3>Nothing to see here</h3>
                }
                else
                {
                    <h2>@MealId</h2>
                    if (CurMeal != null)
                    {
                        <h3>@CurMeal.Id, @CurMeal.HealthIndex</h3>
                    }
                }
            </div>
        </div>
    </div>
</div>

@code {

}