@page "/viewmeals"
@page "/viewmeals/{mealid:int}"

@using health_index_app.Shared.Models;

<div class="container-fluid">
    <div class="row">
        <div class="col-2 d-flex flex-column align-items-stretch flex-shrink-0 bg-white min-vh-100" style="padding:0px">
            <div class="list-group list-group-flush border-bottom scrollarea">
                <a class="text-light bg-dark d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom ">
                    <span class="fs-5 fw-semibold">View Meals <i class="fa-solid fa-mortar-pestle"></i></span>
                </a>
                @foreach(var userMeal in UserMeals)
                {
                    <a @onclick="() => showMealDetail(userMeal.MealId)" class="list-group-item list-group-item-action py-3 lh-tight">@userMeal.Name</a>
                }
            </div>         
                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight active" aria-current="true">L1</a>
                
                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">L3</a>
            
        </div>

        <div class="col-10">
            <div>
                @if (MealId == 0 && CurMeal == null)
                {
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
                else if (CurMeal != null)
                {
                    <h3>@CurMeal.Id, @CurMeal.HealthIndex</h3>
                }
            </div>
        </div>
    </div>
</div>
@code {

}