@page "/Meals"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using health_index_app.Shared
@attribute [Authorize]

<PageTitle>View Meals</PageTitle>

<h1>View Meals</h1>

<p role="status"> </p>

<button class="btn btn-primary" >Click me</button>

@code {
    
}
