@inherits LayoutComponentBase
<Toast></Toast>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <article style="padding-right:0px; padding-left:0px">
            @Body
        </article>
    </main>
</div>
