<footer class="footer">
    <div class="container">
        &copy; 2023 - Health. It's Important
    </div>
</footer>


<style>
    footer {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
       /* width: 100%;*/
        overflow: auto;
        white-space: nowrap;
        text-align: center;
        line-height: 1rem;
    }
</style>