/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
  color: #0077cc;
}

.form-control:focus {
    border-color: #073B4C;
    box-shadow: 0 0 0 0.2rem #073B4C;
}

.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    color: #fff;
    background-color: #073B4C;
    border-color: #073B4C;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #073B4C;
    border-color: #073B4C;
}

.btn-link.nav-link:focus {
  outline: black auto 1px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
    background-color: #C9EFC7;
}

body {
    margin-bottom: 60px;
    background-color: #C9EFC7;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  line-height: 60px;
}

div {
    background-color: #C9EFC7;
}

.navbar {
    background-color: #C9EFC7;
}

.nav-link, .nav-link:hover {
    color: #073B4C;
}

.external-link, .external-link:hover, .forgot-password-link, .register-link, .forgot-password-link:hover, .register-link:hover {
    color: #073B4C;
}